.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: #222529;
}

.lifi_container{
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 90vw;
  height: 90vh;
  display: flex;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
}